<% layout("layout/boilerplate") %>


    <div class="text-center">
        <h1 class="mb-5 f-1">HOME</h1>
    </div>
    <div class="text-center">
        <div class="mb-3 ">
            <%if(currentUser){%>
                <button class="btn btn-warning">Test</button>
                <%}%>
                    <a class="btn btn-success btn lg" href="/profile">User page</a>
        </div>
        <a class="btn btn-success btn-lg" href="/explore">Explore</a>


        <div class="bgCarousel">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" id="c-one">
                        <img src="https://res.cloudinary.com/dqggp5pir/image/upload/v1698775117/bgCarousel%20Home/Home_3_edf5o9.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="c-two">
                        <img src="https://res.cloudinary.com/dqggp5pir/image/upload/v1698775126/bgCarousel%20Home/Home_6_lqdwsu.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" id="c-three">
                        <img src="https://res.cloudinary.com/dqggp5pir/image/upload/v1698775093/bgCarousel%20Home/Home_11_zk5obt.jpg"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>