<% layout("layout/boilerplate") %>
    <link rel="stylesheet" href="stylesheets/home.css" type="text/css">

    <div class="text-center">
        <h1 class="mb-5 f-1">HOME</h1>
    </div>
    <div class="text-center">
        <div class="mb-3 ">
            <%if(currentUser){%>
                <a class="btn btn-outline-warning" href="/user/<%=currentUser.id%>">User Page</a>
                <p>

                </p>
                <%}%>
                    <a class="btn btn-success btn lg" href="/profile">User page</a>
        </div>
        <a class="btn btn-success btn-lg" href="/explore">Explore</a>